---
---

@import "{{ site.theme }}";

.page-header {
  background: white;
  margin-bottom: 0;
  padding: 0;

  > .project-name {
    display: none;
  }

  > .project-tagline::before {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 77px;
    margin: 12px;
    width: 77px;
  }

  .project-tagline {
    align-items: center;
    color: #606c71;
    display: inline-flex;
    margin: 0px;
  }

  > a {
    display: none;
  }
}
